



/* ********* */
/* CSS Reset */
/* ********* */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
   box-sizing: border-box;
}

/* 2. Remove default margin */
* {
   margin: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
   height: 100%;
}

/* 4. Add accessible line-height */
body {
   line-height: 1.5;
}

/* 5. Improve text rendering */
body {
   -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input, button, textarea, select {
   font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root, #__next {
   isolation: isolate;
}




/* ************************ */
/* Global Custom Properties */
/* ************************ */

:root {
   /* Rollercoaster */
   --rollercoaster-beams-color: #a93b56;
   --rollercoaster-looping-color: #d65275;

   /* Rollercoaster Cart */
   --rollercoaster-cart-wheel-color: #8f494a;
   --rollercoaster-cart-primary-color: #f57d14;
   --rollercoaster-cart-accent-color: #fdaf77;
   --rollercoaster-cart-detail-color: #ffffff;

   /* Environment */
   --environment-mountains-color: #fefaca;
   --environment-rollercoaster-track-color: #f8d575;
   --environment-sky-color: #fefeec;
}




/* **** */
/* Body */
/* **** */

body {
   height: 100%;
   
   --body-bg: #212121;
   background-color: var(--body-bg);
 }
 
 
 main {
   position: relative;
   
   display: grid;
   
   place-items: center;
   
   width: 100%;
   height: 100%;
   
   --main-bg: #212121;
   background-color: var(--main-bg);
 }
 
 
 main > figure {
  z-index: 99;

  position: absolute;

  width: 65vmin;
  height: 75vmin;
   
  --figure-bg: transparent;
  background-color: var(--figure-bg);
 }
 
 
 main > figure header {
   z-index: 99;
   
   position: relative;
   
   display: flex;
   
   align-items: center;
   justify-content: center;
   
   width: 100%;
   aspect-ratio: 1;
   
   background-color: transparent;
 }
 
 
 main > figure header div {
   position: absolute;
   
   border-radius: 50%;
 }







 main > figure header div:nth-child(1), figure header div:nth-child(2) {
   --rollercoaster-looping-border-color: var(--rollercoaster-looping-color);
   --rollercoaster-looping-border: .75vmin solid var(--rollercoaster-looping-color);

   border: var(--rollercoaster-looping-border);
   border-radius: 50%;
 }

 /* ****************** */
 /* Outside of Looping */
 /* ****************** */

 main > figure header div:nth-child(1) {
   width: 100%;
   aspect-ratio: 1;

   --mask-color: red;
   --mask-radius-circle: radial-gradient(circle at center, transparent 60%, var(--mask-color) 51%);

   -webkit-mask-image: var(--mask-radius-circle);
   mask-image: var(--mask-radius-circle);

   --line-colors: var(--rollercoaster-looping-color);
   --waarde-1: .2vmin;
   --waarde-2: .2vmin;

   background-image: 
   
      linear-gradient(transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(5deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(10deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(15deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(20deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(25deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(30deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(35deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),


      linear-gradient(40deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(45deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(50deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(55deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      
      linear-gradient(60deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(65deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(70deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(75deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(80deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(85deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(90deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(95deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(100deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(105deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(110deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(115deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(120deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(125deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(120deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(125deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(120deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(125deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(130deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(135deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(140deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(145deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(150deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(155deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(160deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(165deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),

      linear-gradient(170deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%),
      linear-gradient(175deg, transparent 45% calc(50% - var(--waarde-1)), var(--line-colors) calc(50% - var(--waarde-2)) calc(50% + var(--waarde-1)), transparent calc(50% + var(--waarde-2)) 55%);
 }


 /* ***************** */
 /* Inside of Looping */
 /* ***************** */
 
 main > figure header div:nth-child(2) {
   position: relative;

   display: grid;

   place-items: center;

   width: 85%;
   aspect-ratio: 1;
 }
 
 /* ****************** */
 /* Rollercoaster Cart */
 /* ****************** */

 main > figure header div:nth-child(2) figure {
  display: none;

  position: absolute;
 }
 
 main > figure header div:nth-child(2) figure ul {
   list-style: none;

   position: relative;
  
   --rollercoaster-cart-width: 18vmin;
   --rollercoaster-cart-height: calc(var(--rollercoaster-cart-width) / 3);

   width: var(--rollercoaster-cart-width);
   height: var(--rollercoaster-cart-height);
   
   --rollercoaster-cart-border-radius: 0 0 8px 8px;

   border-radius: var(--rollercoaster-cart-border-radius);
    
   background-color:var(--rollercoaster-cart-primary-color);

   /* rotate: 180deg;

   animation: looping 2s linear infinite; */
 }


 main > figure header div:nth-child(2) figure ul::before, main > figure header div:nth-child(2) figure ul::after {
   --wiel-waarde-1: -1.5vmin;
   --wiel-waarde-2: 2vmin;
   
   z-index: -1;

   content: ' ';

   position: absolute;

   bottom: var(--wiel-waarde-1);

   width: 4vmin;
   aspect-ratio: 1;

   border-radius: 50%;

   background-color: var(--rollercoaster-cart-wheel-color);
 }

 main > figure header div:nth-child(2) figure ul::before {
   left: var(--wiel-waarde-2);
 }

 main > figure header div:nth-child(2) figure ul::after {
   right: var(--wiel-waarde-2);
 }


 /* Bumper */
 main > figure header div:nth-child(2) figure ul li:nth-child(1) {
   position: absolute;
  
   right: -1vmin;
   bottom: 1vmin;
   left: -1vmin;
   
   width: 20vmin;
   height: 3vmin;
   
   border-radius: 99px;
   
   background-color: var(--rollercoaster-cart-accent-color);
 }


/* Voorkant en Achterkant */
 main > figure header div:nth-child(2) figure ul li:nth-child(2), main > figure header div:nth-child(2) figure ul li:nth-child(3) {
   position: absolute;
  
   bottom: var(--rollercoaster-cart-height);
  
   --tijdelijke-breedte: 6vmin;
   --tijdelijke-hoogte: 5vmin;

   width: var(--tijdelijke-breedte);
   height: var(--tijdelijke-hoogte);
  
   --radius-top-left: 99rem;
   --radius-top-right: 30rem;
  
   border-top-left-radius: var(--radius-top-left);
   border-top-right-radius: var(--radius-top-right);

   background-color: var(--rollercoaster-cart-primary-color);
 }


 /* Voorkant */
 main > figure header div:nth-child(2) figure ul li:nth-child(2) {
   left: 0;
 }

 main > figure header div:nth-child(2) figure ul li:nth-child(2)::before {
   content: ' ';
   
   position: absolute;

   bottom: 0;
   left: 1.5vmin;

   width: 1vmin;
   height: 2vmin;

   border-radius: 99px;

   background-color: var(--rollercoaster-cart-detail-color);
 }


 /* Achterkant */
 main > figure header div:nth-child(2) figure ul li:nth-child(3) {
   right: 0;
 }

 main > figure header div:nth-child(2) figure ul li:nth-child(3)::before {
   content: ' ';
  
   position: absolute;
   
   left: 0.5vmin;
   bottom: 0.25vmin;
   
   width: 3vmin;
   height: 7vmin;
   
   border-radius: 99px;
   
   background-color: var(--rollercoaster-cart-primary-color);
 }


/* ************************************ */
/* Rollercoaster Cart Looping Animation */
/* ************************************ */

@keyframes looping {
	0%{
		animation-timing-function:cubic-bezier(0.855, 0.050, 0.855, 0.060);
		transform:rotate(0turn) translatey(25vmin) rotate(0turn);
	}
	50% {
		animation-timing-function:cubic-bezier(0.230, 1.000, 0.320, 1.000);
		transform:rotate(.5turn) translatey(25vmin) rotate(0turn);
	}

	100% {
		transform:rotate(1turn) translatey(25vmin) rotate(0turn);
	}
}




main > figure footer {
   transform: translateY(-35vmin);
}

main > figure footer {
   container-type: inline-size;
   
   position: relative;

   display: flex;

   align-items: center;
   justify-content: center;

   width: 100%;
   height: 45vmin;
}
 
 main > figure footer div {
   width: 100%;
   height: 100%;

   --rollercoaster-looping-width: 65vmin; /* Figure width */ 
   --mask-radius-ellipse: radial-gradient(circle var(--rollercoaster-looping-width) at 50% 5%, transparent 50%, red 50%);

 
   -webkit-mask-image: var(--mask-radius-ellipse);
   mask-image: var(--mask-radius-ellipse);
   
   --size-pillar: 1cqw;
	--amount-pillar: 11;
	--color-pillar: var(--rollercoaster-beams-color);
	
	--color-beams: var(--rollercoaster-beams-color);
	--size-beams: .5cqw;
	--height-beams: 95%;

   background-image:
   
      radial-gradient(circle at calc(var(--size-pillar) / 2) center, var(--color-pillar) 0 calc(var(--size-pillar) / 2), transparent 0),
      repeating-linear-gradient(90deg, var(--color-pillar) 0 var(--size-pillar), transparent 0 calc( (100% - var(--size-pillar)) / (var(--amount-pillar) - 1) )),
      repeating-linear-gradient(45deg, var(--color-beams) 0 calc(var(--size-beams)), #ff00 calc(var(--size-beams)) calc( ((100cqw - var(--size-pillar)) / (var(--amount-pillar) - 1)) * .707107 )),
      repeating-linear-gradient(-45deg, var(--color-beams) 0 calc(var(--size-beams)),#ff00 calc(var(--size-beams)) calc( ((100cqw - var(--size-pillar)) / (var(--amount-pillar) - 1)) * .707107 ));
	
	background-size:
   
      calc( (100% - var(--size-pillar)) / (var(--amount-pillar) - 1)) var(--size-pillar), 100% calc( 100% - var(--size-pillar) / 2), 100% var(--height-beams), 100% var(--height-beams);
	
	background-repeat:		
		repeat-x, 
		no-repeat,
		repeat-x, 
		repeat-x;
	
	background-position:		
		left bottom,
		left top,
		left top,
		left top;
 }





main section {
  overflow: hidden;

  position: absolute;

  width: 100%;
  height: 100%;
}


main section figure {
  width: 100%;
  height: 100%;
}


/* Rails */
main > section:nth-child(2) {
  container-type: inline-size;

  z-index: 95;

  height: auto;
}

main > section:nth-child(2) figure svg {

}

main > section:nth-child(2) figure svg path {
  fill: none;
  
  stroke: var(--environment-rollercoaster-track-color);
  stroke-width: 4;
  stroke-miterlimit: 16;
  stroke-linecap: butt;
}

/* Bergen */
main > section:nth-child(3) {
  z-index: 90;
  background-color: var(--environment-mountains-color);
}



main section:nth-child(3) figure svg {
  fill: var(--environment-sky-color);

  width: 100%;
  height: 70vh;
}










@media screen and (min-width: 360px) {

  main section:nth-child(3) svg {
    min-width: 120vw;
  }

}


@media screen and (min-height: 800px) {

  main section:nth-child(3) svg {
    min-width: 120vw;
    min-height: 80vh;
  }

}
